# Data Cleaning With Pandas - Olympic Dataset

For this project, I worked on preprocessing an Olympic dataset that included athlete names, sports, countries, medal types, and competition years. I cleaned and standardized the data by handling missing values, converting data types, and extracting structured information from text fields using string operations and regex. I also selected relevant columns and filtered the dataset to focus on key metrics for further analysis. This preprocessing step helped prepare the data for more accurate and efficient visualization and statistical exploration.

In [1]:
## import pandas package
import pandas as pd

## Import the Dataset for Processing

In [2]:
bios = pd.read_csv('./Olympic/bios.csv')
bios.head(4)

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN

## Processing the Bios Dataset - Step 1
- Used name: delete the bullet points in between first and last name
- Remove unnecessary columns/features
- Split Height/Weight
- Paese out dates from 'Born' & 'Died' Column
- Parse out city, region, and country from 'Born' column

In [12]:
# Keep the Original data as it is, perform processing on a seperate dataframe.
df = bios.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Roles          145500 non-null  object
 1   Sex            145500 non-null  object
 2   Full name      145500 non-null  object
 3   Used name      145500 non-null  object
 4   Born           143772 non-null  object
 5   Died           34042 non-null   object
 6   NOC            145499 non-null  object
 7   athlete_id     145500 non-null  int64
 8   Measurements   107833 non-null  object
 9   Affiliations   95832 non-null   object
 10  Nick/petnames  9145 non-null    object
 11  Title(s)       399 non-null     object
 12  Other names    7167 non-null    object
 13  Nationality    8259 non-null    object
 14  Original name  30739 non-null   object
 15  Name order     7844 non-null    object
dtypes: int64(1), object(15)
memory usage: 17.8+ MB

### Remove the bullet Points

In [13]:
## remove the bullet points in the used name
df['name'] = df['Used name'].str.replace("•", " ")
df.head(3)

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,name
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jean-François Blanchy
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,Arnaud Boetsch
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN,Jean Borotra

### Separate the Measurements Column
#### Edge Case 1: Only contains one of the height/weight information

In [14]:
## Check to make sure that all values from Measurements have / as delimiter
df[~df['Measurements'].str.contains('/', na=False) & df['Measurements'].notna()].head(10)

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,name
87,Competed in Olympic Games • Non-starter,Male,"Hugh Lawrence ""Laurie""•Doherty",Laurie•Doherty,"8 October 1875 in Wimbledon, England (GBR)","21 August 1919 in Broadstairs, England (GBR)",Great Britain,88,178 cm,"All England Lawn Tennis and Croquet Club, Wimb...",Little Do,NaN,NaN,NaN,NaN,NaN,Laurie Doherty
105,Competed in Olympic Games,Male,Harold Segerson•Mahony,Harold•Mahony,"13 February 1867 in Edinburgh, Scotland (GBR)","27 June 1905 in between Glencar and Killorgin,...",Great Britain,106,191 cm,"Fitzwilliam Lawn Tennis Club, Dublin (IRL)",NaN,NaN,NaN,Ireland,NaN,NaN,Harold Mahony
165,Competed in Olympic Games,Female,Patricia Akosua•Offel,Patricia•Offel,19 December 1971,NaN,Ghana,166,120 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patricia Offel
242,Competed in Olympic Games,Female,"Lucia Francisca ""Susy""•Susanti Haditono",Susy•Susanti,"11 February 1971 in Tasikmalaya, Jawa Barat (INA)",NaN,Indonesia,243,161 cm,"Jaya Raya, Jakarta (INA)",NaN,NaN,"Wang Lianxiang, 王蓮香",NaN,NaN,NaN,Susy Susanti
243,Competed in Olympic Games,Female,Lili•Tampi,Lili•Tampi,"19 May 1970 in Tasikmalaya, Jawa Barat (INA)",NaN,Indonesia,244,161 cm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lili Tampi
255,Competed in Olympic Games,Male,Denny Kwan•Kantono,Denny•Kantono,"12 January 1970 in Samarinda, Kalimantan Timur...",NaN,Indonesia,256,182 cm,"PB Djarum, Kudus (INA)",NaN,NaN,NaN,NaN,NaN,NaN,Denny Kantono
289,Competed in Olympic Games,Male,Ángel•Bello,Ángel•Bello,"9 January 1951 in Vigo, Pontevedra (ESP)",13 June 2013,Argentina,290,65 kg,"Tiro Federal de Lomas de Zamora, Lomas de Zamo...",NaN,NaN,NaN,NaN,NaN,NaN,Ángel Bello
290,Competed in Olympic Games,Male,Claudio A.•Pafundi,Claudio•Pafundi,31 January 1962,NaN,Argentina,291,76 kg,"Tiro Federal General José de San Martín, San M...",NaN,NaN,NaN,NaN,NaN,NaN,Claudio Pafundi
305,Competed in Olympic Games,Male,Graeme•Telford,Graeme•Telford,19 March 1942,NaN,Australia,306,185 cm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Graeme Telford
313,Competed in Olympic Games,Male,André•Baeyens,André•Baeyens,"29 September 1946 in Erondegem, Oost-Vlaandere...",NaN,Belgium,314,168 cm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,André Baeyens

In [7]:
# To deal with the edge cases, create a helper function to deal with
def split_Measurements (df):
    df['height_cm'] = None
    df['weight_kg'] = None
    ## Case 1: Contains both information
    mask_both = df['Measurements'].str.contains(" cm", na=False) & df['Measurements'].str.contains(" kg", na=False)
    split_df = df.loc[mask_both, ['height_cm', 'weight_kg']] = df.loc[mask_both, 'Measurements'].str.split('/',expand=True)
    df.loc[mask_both, 'height_cm'] = split_df[0]
    df.loc[mask_both, 'weight_kg'] = split_df[1]

    ## Case 2: Only Contains height
    mask_cm = df['Measurements'].str.contains(" cm", na=False) & ~df['Measurements'].str.contains(" kg", na=False)
    df.loc[mask_cm, 'height_cm'] = df.loc[mask_cm, 'Measurements']

    ## Case 3: Only Contains Weight
    mask_kg = df['Measurements'].str.contains(" kg", na = False) & ~df['Measurements'].str.contains(" cm", na=False)
    df.loc[mask_kg, 'weight_kg'] = df.loc[mask_kg, 'Measurements']

    return df

In [15]:
df = split_Measurements(df)
df.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,name,height_cm,weight_kg
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jean-François Blanchy,None,None
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,Arnaud Boetsch,183 cm,76 kg
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN,Jean Borotra,183 cm,76 kg
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN,Jacques Brugnon,168 cm,64 kg
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,Albert Canet,None,None

#### Edge Case 2: Weight contains a range rather than a number

In [16]:
df[df['weight_kg'].str.contains('-', na=False)].head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,name,height_cm,weight_kg
432,Competed in Olympic Games,Female,Minna Kaarina•Heinonen (-Koivisto),Minna•Heinonen,"26 August 1967 in Harjavalta, Satakunta (FIN)",NaN,Finland,433,173 cm / 64-66 kg,Harjavallan Jousiampujat,NaN,NaN,NaN,NaN,NaN,NaN,Minna Heinonen,173 cm,64-66 kg
435,Competed in Olympic Games,Female,Jutta Anneli•Poikolainen (Vähäoja-),Jutta•Poikolainen,"15 March 1963 in Tampere, Pirkanmaa (FIN)",NaN,Finland,436,176 cm / 63-65 kg,"Amarco, Hyvinkää (FIN)",NaN,NaN,NaN,NaN,NaN,NaN,Jutta Poikolainen,176 cm,63-65 kg
437,Competed in Olympic Games,Male,Ismo Kalevi•Falck,Ismo•Falck,"22 August 1966 in Paltamo, Kainuu (FIN)",NaN,Finland,438,172 cm / 67-74 kg,"Suomussalmen Vastus, Suomussalmi (FIN)",NaN,NaN,NaN,NaN,NaN,NaN,Ismo Falck,172 cm,67-74 kg
440,Competed in Olympic Games,Male,Kauko Markus•Laasonen,Kauko•Laasonen,"8 January 1951 in Kesälahti, Pohjois-Karjala (...",NaN,Finland,441,178 cm / 73-75 kg,"Porin Jousiampujat, Pori (FIN)",Kake,NaN,NaN,NaN,NaN,NaN,Kauko Laasonen,178 cm,73-75 kg
441,Competed in Olympic Games,Male,Kyösti Kalevi•Laasonen,Kyösti•Laasonen,"27 September 1945 in Kitee, Pohjois-Karjala (FIN)",NaN,Finland,442,173 cm / 63-65 kg,"Porin Jousiampujat, Pori (FIN)",Kössi,NaN,NaN,NaN,NaN,NaN,Kyösti Laasonen,173 cm,63-65 kg

In [17]:
## to handle this edge case, i decided to proceed with switch the range to the median of the range
mask = df['weight_kg'].str.contains("-", na=False)
df['weight_kg'] = df['weight_kg'].fillna("").str.replace(" kg", "")
df['height_cm'] = df['height_cm'].fillna("").str.replace(" cm","")
split_df = df.loc[mask, 'weight_kg'].str.split("-", expand=True)
df.loc[mask,'weight_kg'] = (split_df[1].astype(float)+split_df[0].astype(float))/2
df['height_cm'] = pd.to_numeric(df['height_cm'], errors='coerce')
df['weight_kg'] = pd.to_numeric(df['weight_kg'], errors='coerce')

In [22]:
df.head(2)

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,name,height_cm,weight_kg
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jean-François Blanchy,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,Arnaud Boetsch,183.0,76.0

In [23]:
df[df['Measurements'].str.contains('-', na=False)].head(2)

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,name,height_cm,weight_kg
432,Competed in Olympic Games,Female,Minna Kaarina•Heinonen (-Koivisto),Minna•Heinonen,"26 August 1967 in Harjavalta, Satakunta (FIN)",NaN,Finland,433,173 cm / 64-66 kg,Harjavallan Jousiampujat,NaN,NaN,NaN,NaN,NaN,NaN,Minna Heinonen,173.0,65.0
435,Competed in Olympic Games,Female,Jutta Anneli•Poikolainen (Vähäoja-),Jutta•Poikolainen,"15 March 1963 in Tampere, Pirkanmaa (FIN)",NaN,Finland,436,176 cm / 63-65 kg,"Amarco, Hyvinkää (FIN)",NaN,NaN,NaN,NaN,NaN,NaN,Jutta Poikolainen,176.0,64.0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Roles          145500 non-null  object
 1   Sex            145500 non-null  object
 2   Full name      145500 non-null  object
 3   Used name      145500 non-null  object
 4   Born           143772 non-null  object
 5   Died           34042 non-null   object
 6   NOC            145499 non-null  object
 7   athlete_id     145500 non-null  int64
 8   Measurements   107833 non-null  object
 9   Affiliations   95832 non-null   object
 10  Nick/petnames  9145 non-null    object
 11  Title(s)       399 non-null     object
 12  Other names    7167 non-null    object
 13  Nationality    8259 non-null    object
 14  Original name  30739 non-null   object
 15  Name order     7844 non-null    object
 16  name           145500 non-null  object
 17  height_cm      106651 non-null  float64
 18  weight_kg      104124 non-null  float64
dtypes: float64(2), int64(1), object(16)
memory usage: 21.1+ MB